/* ============================================================================
    TABLE
============================================================================ */

.markdown-rendered.card-table table {
    width: 100%;
}

/* ============================================================================
    TABLE HEADER
============================================================================ */

.markdown-rendered.card-table thead {
    width: 192px;
    display: block;
    float: right;
    position: relative;
    height: 48px;
}

.markdown-rendered.card-table thead:before {
    content: '';
    position: absolute;
    right: 0;
    height: 48px;
    /*height: 12px; You can add height to move it downwards */
    background-repeat: no-repeat;
    padding: 12px;
    background-position: center center;
    background-size: 12px;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 100 100"><path fill="black" d="M49.792 33.125l-5.892 5.892L33.333 28.45V83.333H25V28.45L14.438 39.017L8.542 33.125L29.167 12.5l20.625 20.625zm41.667 33.75L70.833 87.5l-20.625 -20.625l5.892 -5.892l10.571 10.567L66.667 16.667h8.333v54.883l10.567 -10.567l5.892 5.892z"></path></svg>');
}

/* ============================================================================
    TABLE BODY
============================================================================ */

.markdown-rendered.card-table tbody {
    clear: both;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(192px, 1fr)); /* Orig: 180 */
    grid-column-gap: 12px;
    grid-row-gap: 12px;
}

.markdown-rendered.card-table.column-1 tbody {
    grid-template-columns: repeat(1,minmax(0,1fr))
}

.markdown-rendered.card-table.column-2 tbody {
    grid-template-columns: repeat(2,minmax(0,1fr))
}

.markdown-rendered.card-table.column-3 tbody {
    grid-template-columns: repeat(3,minmax(0,1fr))
}

.markdown-rendered.card-table.column-4 tbody {
    grid-template-columns: repeat(4,minmax(0,1fr))
}

.markdown-rendered.card-table.column-5 tbody {
    grid-template-columns: repeat(5,minmax(0,1fr))
}

.markdown-rendered.card-table.column-6 tbody {
    grid-template-columns: repeat(6,minmax(0,1fr))
}

.markdown-rendered.card-table.column-7 tbody {
    grid-template-columns: repeat(7,minmax(0,1fr))
}

.markdown-rendered.card-table.column-8 tbody {
    grid-template-columns: repeat(8,minmax(0,1fr))
}

/* ============================================================================
    TABLE ROWS
============================================================================ */

.markdown-rendered.card-table thead tr {
    display: none;
    z-index: 9;
    border: 1px solid #222;
    background-color: #f2f2f2;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    flex-direction: column;
    margin: 48px 0 0 0; /* Change to move up or down */
}

.markdown-rendered.card-table thead:hover  tr {
    display: flex
}

.markdown-rendered.card-table tbody tr {
    background-color: transparent;
    border: 1px solid #222;
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    overflow: hidden;
}

/* ============================================================================
    TABLE HEADERS
============================================================================ */

.markdown-rendered.card-table th {
    display: block;
    padding: 0 6px;
    font-weight: 400;
    color: #222;
    border: none;
    font-size: 12px;
    line-height: 2;
    text-align: left;
}

/* ============================================================================
    TABLE DATA
============================================================================ */

.markdown-rendered.card-table tbody td {
    padding: 0 6px;
    line-height: 2;
    width: 100%;
    max-width: 100%;
    font-size: 12px;
    white-space: nowrap;
    overflow-x: clip;
    text-overflow: ellipsis;
    border: none;
    border-bottom: 1px dotted #222;
}

.markdown-rendered.card-table tbody td:first-child {
    padding: 0;
    border-bottom: 1px solid #222;
    text-align: center;
}

.markdown-rendered.card-table tbody td:last-child {
    border-bottom: none;
}

/* ============================================================================
    IMAGES
============================================================================ */

.markdown-rendered.card-table tbody td img {
    width: 100%;
    object-fit: cover;
    vertical-align: bottom;
    aspect-ratio: 3/4; /* Seems18/24 to work best for covers */ /*https://www.shutterstock.com/blog/common-aspect-ratios-photo-image-sizes*/
}

/* YAML cssClasses for various common aspect ratios
──────────────────────────────────────────────────────────────────────────── */

.markdown-rendered.card-table.aspect-16-9 tbody td img {
    aspect-ratio: 16/9;
}

.markdown-rendered.card-table.aspect-1-1 tbody  td img {
    aspect-ratio: 1/1;
}

.markdown-rendered.card-table.aspect-2-1 tbody td img {
    aspect-ratio: 2/1;
}

.markdown-rendered.card-table.aspect-2-3 tbody td img {
    aspect-ratio: 2/3;
}

/* YAML cssClass for various image display types
──────────────────────────────────────────────────────────────────────────── */

.markdown-rendered.card-table.contain tbody td img {
    object-fit: contain;
}

/* ============================================================================
    ANCHORS / LINKS
============================================================================ */

.markdown-rendered.card-table tbody td a {
    color: #222;
}