/* https://www.w3schools.com/howto/howto_css_list_group.asp */

/*
1. Adding a "cards" cssClass to turn tables into cards.
*/

/* Making Tables 100% wide */

.theme-light {
    --text: #000;
    --icon: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 100 100"><path fill="black" d="M49.792 33.125l-5.892 5.892L33.333 28.45V83.333H25V28.45L14.438 39.017L8.542 33.125L29.167 12.5l20.625 20.625zm41.667 33.75L70.833 87.5l-20.625 -20.625l5.892 -5.892l10.571 10.567L66.667 16.667h8.333v54.883l10.567 -10.567l5.892 5.892z"></path></svg>');
    --border: rgba(0, 0, 0, 0.5);
    --shadow: rgba(0, 0, 0, 1);
}

.theme-dark {
    --text: #fff;
    --icon: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 100 100"><path fill="white" d="M49.792 33.125l-5.892 5.892L33.333 28.45V83.333H25V28.45L14.438 39.017L8.542 33.125L29.167 12.5l20.625 20.625zm41.667 33.75L70.833 87.5l-20.625 -20.625l5.892 -5.892l10.571 10.567L66.667 16.667h8.333v54.883l10.567 -10.567l5.892 5.892z"></path></svg>');
    --border: rgba(255, 255, 255, 0.5);
    --shadow: rgba(0, 0, 0, 1);
}

/* ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */

.cards table {
    width: 100%;
}

/* ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */

.cards table thead {
    display: block;
    width: 225px;
    float: right;
    position: relative;
    height: 24px;
    z-index: 3;
}

.cards table thead:before {
    content: '';
    position: absolute;
    top: 0px;
    right: 0;
    height: 100%;
    padding-right: 18px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 12px;
    background-image: var(--icon);
}

/* ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */

.cards table thead tr {
    display: none;
}

.cards table thead:hover tr {
    display: flex;
    flex-direction: column;
    background-color: var(--background-primary);
    margin-top: 24px;
    border: 1px solid var(--border);
    border-radius: 12px;
}

/* ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */

.cards table thead tr th {
    font-weight: 400;
    text-align: left;
    border: none !important; /* Gets overwritten by obsidian default */
}

/* ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */

.cards table tbody {
    clear: both;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    grid-column-gap: 12px;
    grid-row-gap: 12px;
}

/* ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */

.cards table tbody tr { /* card */
    display: flex;
    flex-direction: column;
    overflow: hidden;
    /* --- */
    position: relative;
    aspect-ratio: 3/4; /* this has to be the same as with the iamge below */
    overflow-y: scroll; /* makes it scrollable, but doesn't look good if the iamge is smaller */
    /*background-color: #fff !important; /* gets overwritten by obidian default */
    box-shadow: 0 5px 10px var(--shadow);
    border-radius: 12px;
    /*box-sizing: unset; /* This fixes weird double line at bottom | Could probably be moved somewhere else */ 
}

.cards table tbody tr:hover {
    border: 1px solid var(--border); /* The border should be made optional */
    /*padding-top: 6px;*/
}

/* ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */

.cards table tbody tr td { /* details */
    white-space: nowrap;
    overflow-x: clip;
    text-overflow: ellipsis;
    /* --- */
    z-index: 1;
    border: none !important; /* gets overwritten by obsidians built in style */
    display: none;
    font-size: 10px;
}

.cards table tbody tr:hover td { /* Results in additional rows being shown when hovered */
    display: block;
    white-space: normal;
}

.cards table tbody tr:hover td:empty { /* Results in empty rows not being displayed */
    display: none;
}

.cards table tbody tr td:first-child { /* card poster */
    padding: 0;
    position: absolute;
    display: block;
    width: 100%;
}

.cards table tbody tr td:nth-child(2) {
    margin-top: auto; /* deciudes how high the text ist*/
    font-size: 12px;
    display: block;
    color: #fff;
    background-color: rgba(0,0,0,.5);
    /*border-top-left-radius: 12px;
    border-top-right-radius: 12px;*/ /* The borders might look nice */
}

.cards table tbody tr td:nth-child(2):empty {
    display: none;
}

.cards table tbody tr:hover td:nth-child(2) {
    margin-top: 0px;
    background: none;
    white-space: normal;
    overflow-x: unset;
    text-overflow: unset;
    text-align: left;
    text-decoration: underline;
    color: var(--text);
    z-index: 2; /* Required for clickable link to work */
    padding-top: 6px;
}

/* ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */

.cards table tbody tr td img {
    object-fit: cover;
    vertical-align: bottom;
    width: 100%;
    aspect-ratio: 3/4; /* Seems18/24 to work best for covers */ /*https://www.shutterstock.com/blog/common-aspect-ratios-photo-image-sizes*/    
}

/* Maybe change that to the entire first td so that text will also become invisible. Can't use opacity things then though */

.cards table tbody tr:hover td img {
     display: none;
    /* The Below are experiments with masking. Seems quite nice, but I don't know, maybe */
    /*opacity: 0.2;
    -webkit-mask-image: linear-gradient(black 50%, transparent);
    filter: blur(1px) grayscale(1);*/
}

/* ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */

.cards table tbody tr td:nth-child(2) a {
    color: #fff;
    text-decoration: none;
}

.cards table tbody tr:hover td:nth-child(2) a {
    color: var(--text);
    display: block;
    width: 100%;
    padding-bottom: 200%;
    margin-bottom: -200%;
}

.cards table tbody tr td .internal-link.is-unresolved {
    opacity: 1;
}

/* ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */

.ratio-2-3 table tbody tr td img,
.ratio-2-3 table tbody tr {
    aspect-ratio: 2/3;
}

.ratio-1-1 table tbody tr td img,
.ratio-1-1 table tbody tr {
    aspect-ratio: 1/1;
}

.ratio-16-9 table tbody tr td img,
.ratio-16-9 table tbody tr {
    aspect-ratio: 16/9;
}

/* ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */

.columns-1 table tbody {
    grid-template-columns: repeat(1,minmax(0,1fr))
}

.columns-2 table tbody {
    grid-template-columns: repeat(2,minmax(0,1fr))
}

.columns-3 table tbody {
    grid-template-columns: repeat(3,minmax(0,1fr))
}

.columns-4 table tbody {
    grid-template-columns: repeat(4,minmax(0,1fr))
}

.columns-5 table tbody {
    grid-template-columns: repeat(5,minmax(0,1fr))
}

.columns-6 table tbody {
    grid-template-columns: repeat(6,minmax(0,1fr))
}

.columns-7 table tbody {
    grid-template-columns: repeat(7,minmax(0,1fr))
}

.columns-8 table tbody {
    grid-template-columns: repeat(8,minmax(0,1fr))
}

/* ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */

.page-10 .markdown-preview-sizer,
.page-10 .cm-contentContainer {
    max-width: 10% !important;
}

.page-20 .markdown-preview-sizer,
.page-20 .cm-contentContainer  {
    max-width: 20% !important;
}

.page-30 .markdown-preview-sizer,
.page-30 .cm-contentContainer  {
    max-width: 30% !important;
}

.page-40 .markdown-preview-sizer,
.page-40 .cm-contentContainer  {
    max-width: 40% !important;
}

.page-50 .markdown-preview-sizer,
.page-50 .cm-contentContainer  {
    max-width: 50% !important;
}

.page-60 .markdown-preview-sizer,
.page-60 .cm-contentContainer  {
    max-width: 60% !important;
}

.page-70 .markdown-preview-sizer,
.page-70 .cm-contentContainer  {
    max-width: 70% !important;
}

.page-80 .markdown-preview-sizer,
.page-80 .cm-contentContainer {
    max-width: 80% !important;
}

.page-80 .cm-content,
.page-80 .cm-line {
    max-width: 100% !important;
}

.page-90 .markdown-preview-sizer,
.page-90 .cm-contentContainer  {
    max-width: 90% !important;
}

.page-100 .markdown-preview-sizer,
.page-100 .cm-contentContainer  {
    max-width: 100% !important;
}

.page-10 .cm-content,
.page-20 .cm-content,
.page-30 .cm-content,
.page-40 .cm-content,
.page-50 .cm-content,
.page-60 .cm-content,
.page-70 .cm-content,
.page-80 .cm-content,
.page-90 .cm-content,
.page-100 .cm-content,
.page-10 .cm-line,
.page-20 .cm-line,
.page-30 .cm-line,
.page-40 .cm-line,
.page-50 .cm-line,
.page-60 .cm-line,
.page-70 .cm-line,
.page-80 .cm-line,
.page-90 .cm-line,
.page-100 .cm-line {
    max-width: 100% !important;
}

/* ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */

.dataview tbody tr {
    margin: 0 !important;
    text-align: inherit !important;
}


.dataview thead tr {
    margin-top: 24px !important;
    margin-bottom: 0 !important;
    text-align: inherit !important;
}

.dataview thead tr th {
    font-size: inherit !important;
}

/* ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */

.show-2 table tbody tr td:nth-child(3),
.show-3 table tbody tr td:nth-child(3),
.show-3 table tbody tr td:nth-child(4),
.show-4 table tbody tr td:nth-child(3),
.show-4 table tbody tr td:nth-child(4),
.show-4 table tbody tr td:nth-child(5) {
    display: block;
    background-color: rgba(0,0,0,.5);
    color: #fff;
}

.show-2 table tbody tr td:nth-child(3):empty,
.show-3 table tbody tr td:nth-child(3):empty,
.show-3 table tbody tr td:nth-child(4):empty,
.show-4 table tbody tr td:nth-child(3):empty,
.show-4 table tbody tr td:nth-child(4):empty,
.show-4 table tbody tr td:nth-child(5):empty {
    display: none;
}

.show-2 table tbody tr:hover td:nth-child(3),
.show-3 table tbody tr:hover td:nth-child(3),
.show-3 table tbody tr:hover td:nth-child(4),
.show-4 table tbody tr:hover td:nth-child(3),
.show-4 table tbody tr:hover td:nth-child(4),
.show-4 table tbody tr:hover td:nth-child(5) {
    background: none;
    color: var(--text);
}

.show-2 table tbody tr td:nth-child(2):empty + td,
.show-3 table tbody tr td:nth-child(2):empty + td,
.show-3 table tbody tr td:nth-child(2):empty + td:empty + td,
.show-4 table tbody tr td:nth-child(2):empty + td,
.show-4 table tbody tr td:nth-child(2):empty + td:empty + td,
.show-4 table tbody tr td:nth-child(2):empty + td:empty + td:empty + td {
    margin-top: auto;
}

.show-2 table tbody tr:hover td:nth-child(2):empty + td,
.show-3 table tbody tr:hover td:nth-child(2):empty + td,
.show-3 table tbody tr:hover td:nth-child(2):empty + td:empty + td,
.show-4 table tbody tr:hover td:nth-child(2):empty + td,
.show-4 table tbody tr:hover td:nth-child(2):empty + td:empty + td,
.show-4 table tbody tr:hover td:nth-child(2):empty + td:empty + td:empty + td {
    margin-top: 0px;
}

/* ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */


/*
.card-table table tbody tr:hover td:nth-child(2) {
    margin-top: 6px;
    background: none;
    white-space: normal;
    overflow-x: unset;
    text-overflow: unset;
    text-align: left;
    text-decoration: underline;
    color: var(--text);
}

.card-table table tbody tr td:nth-child(2) {
    margin-top: auto;
    font-size: 12px;
    display: block;
    color: #fff;
    background-color: rgba(0,0,0,.5);
    text-align: center;
}

.card-table table tbody tr td:nth-child(2):empty {
    display: none;
}*/

/* Styling the Hover */

/*       -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
      mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
*/

/* FEATURES
1. Empty Cells will not be shown
2. Information is shown on the backside -> Allows to show as much info as wanted without it becoming ugly
*/



/* YAML cssClasses for Aspect Ratios aka. resizing the cards */



/* YAML cssClasses to adjust the page width */


/* YAML cssClasses to choose the amount of columns */


/* Changing the Color fo links to make them readable */


/* Removing the scrollbasrs */

::-webkit-scrollbar {
    display: none;
}